In [44]:
import pandas

df = pandas.read_csv('raw_data/extended_covid.csv')
df

          date    cases
0   2021-12-09  3760048
1   2021-12-10  3785036
2   2021-12-11  3808798
3   2021-12-12  3828248
4   2021-12-13  3839625
..         ...      ...
66  2022-02-13  5376674
67  2022-02-14  5388907
68  2022-02-15  5408754
69  2022-02-16  5434424
70  2022-02-17  5460552

[71 rows x 2 columns]

In [45]:
temp = df['cases'][0]
for index, row in df.iterrows():
    if index == 0: continue
    cases = df['cases'][index] 
    
    if cases > temp:
        df['cases'][index] = cases - temp
    else:
        df['cases'][index] = temp - cases 
    temp = cases

/tmp/ipykernel_34380/3962319547.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cases'][index] = cases - temp

          date    cases
0   2021-12-09  3760048
1   2021-12-10    24988
2   2021-12-11    23762
3   2021-12-12    19450
4   2021-12-13    11377
..         ...      ...
66  2022-02-13    20027
67  2022-02-14    12233
68  2022-02-15    19847
69  2022-02-16    25670
70  2022-02-17    26128

[71 rows x 2 columns]

In [46]:
df.to_csv('raw_data/test.csv')